body {
    --bs-body-bg: #dbdbd2;
    --top-green: #009688;
    --container-white: #EAEAEA;
    --icon-grey: #B1B1B1;
    --icon-darkgrey: #6B7376;
    --light-blue: #8EDAFD;
    --zerofive-margin: .5rem;
    --low-bar-bg: #F3EEEA;
    --mit-message: #D5F9BA;
}

.top-body {
    background-color: var(--top-green);
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    position: relative;
    background-color: var(--container-white);
    height: calc(100vh - 40px);
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px -5px gray;
}

/****************************
********* SIDEBAR ***********/
.sidebar {
    min-width: 350px;
    border-right: 1px solid lightgray;
}

.utente, .contatto-corrente, .bar-digitazione {
    height: 55px;
}

/* AVATAR MITTENTE */
.avatar {
    height: 40px;
    border-radius: 50%;
    margin-left: var(--zerofive-margin);
    margin-right: var(--zerofive-margin);
}

.avatar + span {
    font-size: .8rem;
}

.icone-sidebar i {
    color: var(--icon-grey);
    padding: 0 .2rem;
}

/* NOTIFICHE */
.notifiche {
    height: 65px;
    background-color: var(--light-blue);
}

.icona-notifiche i {
    color: var(--light-blue);
    background-color: white;
    border-radius: 50%;
    padding: .6rem .5rem;
    margin-left: var(--zerofive-margin);
}

.testo-notifiche {
    font-size: .8rem;
}

/* RICERCA */
.ricerca {
    height: 45px;
    background-color: #FAFAFA;
}

.barra-ricerca {
    height: 30px;
}

.barra-ricerca span, .barra-ricerca input {
    border: 1px solid #eaeaea;
    background-color: white;
}

::placeholder {
    font-size: .7rem;
    vertical-align: middle;
}

.barra-ricerca i {
    color: var(--icon-grey);
}

/* CONTATTI */
.contatti {
    overflow: auto;
    background-color: white;
}

.immagine-utente img {
    height: 45px;
    margin: var(--zerofive-margin);
    border-radius: 50%;
}

.nome-utente {
    font-size: .9rem;
    margin: var(--zerofive-margin);
}

.messaggio-utente, .orario {
    font-size: .6rem;
    opacity: 40%;
    color: var(--bs-body-color-rgb);
}

.orario {
    margin: var(--zerofive-margin);
}

/***********************************
********* CHAT CONTAINER ***********/

/*TOPBAR*/


/*CHAT CONTAINER*/
.chat {
    overflow: auto;
    background-image: url(img/mine.jpg);
    padding: 3rem 4rem;
}

.messaggio-chat {
    height: 45px;
    width: 250px;
    border-radius: 10px;
    font-size: .8rem;
    margin-bottom: var(--zerofive-margin);
}

.mittente p:last-of-type, .ricevente p:last-of-type {
    font-size: .5rem;
    opacity: 50%;
    margin-right: var(--zerofive-margin);
    margin-top: .2rem;
}

.mittente {
    background-color: var(--mit-message);
}

.ricevente {
    background-color: white;
}

/*LOWBAR*/
.bar-digitazione {
    background-color: var(--low-bar-bg);
}

.bar-digitazione i {
    color: var(--icon-darkgrey);
    font-size: 1.2rem;
}

.bar-digitazione input {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 0 .5rem;
    background-color: white;
    height: 40px;
}