body {
    --bs-body-bg: #dbdbd2;
    --top-green: #009688;
    --container-white: #EAEAEA;
    --icon-grey: #B1B1B1;
    --icon-darkgrey: #6B7376;
    --light-blue: #8EDAFD;
    --zerofive-margin: .5rem;
    --low-bar-bg: #F3EEEA;
    --mit-message: #D5F9BA;
}

.top-body {
    background-color: var(--top-green);
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    position: relative;
    background-color: var(--container-white);
    height: calc(100vh - 40px);
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px -5px gray;
}

/****************************
********* SIDEBAR ***********/
.sidebar {
    min-width: 350px;
    border-right: 1px solid lightgray;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    overflow: hidden;
}

.utente {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}

.utente, .contatto-corrente, .bar-digitazione {
    padding: .5rem;
}

/* AVATAR MITTENTE */
.avatar {
    height: 40px;
    border-radius: 50%;
    margin-left: var(--zerofive-margin);
    margin-right: var(--zerofive-margin);
}

.avatar + span {
    font-size: .8rem;
}

.icone-sidebar {
    padding-right: 1rem;
}

.icone-sidebar i, .icone-topbar i {
    color: var(--icon-grey);
    padding: 0 .2rem;
}

/* NOTIFICHE */
.notifiche {
    background-color: var(--light-blue);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: .8rem 0;
}

.icona-notifiche i {
    color: var(--light-blue);
    background-color: white;
    border-radius: 50%;
    padding: .6rem .5rem;
    margin-left: var(--zerofive-margin);
}

.testo-notifiche {
    font-size: .8rem;
    padding-left: 0.25rem;
}

/* RICERCA */
.ricerca {
    background-color: #FAFAFA;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: .5rem 0;
}

.barra-ricerca {
    height: 30px;
}

.barra-ricerca span, .barra-ricerca input {
    border: 1px solid #eaeaea;
    background-color: white;
}

::placeholder {
    font-size: .7rem;
    vertical-align: middle;
}

.barra-ricerca i {
    color: var(--icon-grey);
}

/* CONTATTI */
.contatti {
    overflow: auto;
    background-color: white;
    flex-grow: 1;
}

.immagine-utente img {
    height: 45px;
    margin: var(--zerofive-margin);
    border-radius: 50%;
}

.nome-utente {
    font-size: .9rem;
    margin: var(--zerofive-margin);
    margin-bottom: 0;
}

.messaggio-utente {
    margin-left: var(--zerofive-margin);
}

.messaggio-utente, .orario {
    font-size: .6rem;
    opacity: 40%;
    color: var(--bs-body-color-rgb);
}

.orario {
    margin: var(--zerofive-margin);
}

.attivo {
    background-color: #E9EBEB;
}

/***********************************
********* CHAT CONTAINER ***********/

/*TOPBAR*/
.contatto-corrente {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.icone-topbar {
    padding-right: 1rem;
}

/*CHAT CONTAINER*/
.chat {
    overflow: auto;
    background-image: url(img/mine.jpg);
    padding: 3rem 4rem;
    flex-grow: 1;
}

.messaggio-chat {
    min-height: 45px;
    min-width: 250px;
    border-radius: 10px;
    font-size: .8rem;
    margin-bottom: var(--zerofive-margin);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mittente p:last-of-type, .ricevente p:last-of-type {
    font-size: .5rem;
    opacity: 30%;
    margin-right: var(--zerofive-margin);
}

.mittente {
    background-color: var(--mit-message);
}

.ricevente {
    background-color: white;
}

.testo-messaggio {
    padding: 0 .5rem;
    margin-bottom: 0;
}

.orario-messaggio {
    align-self: flex-end;
    margin-bottom: .1rem;
    position: absolute;
    bottom: 0;
}

/*LOWBAR*/
.bar-digitazione {
    background-color: var(--low-bar-bg);
    flex-shrink: 0;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.bar-digitazione i {
    color: var(--icon-darkgrey);
    font-size: 1.2rem;
}

.bar-digitazione input {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 0 .5rem;
    background-color: white;
    height: 40px;
}