body {
    --bs-body-bg: #dbdbd2;
    --top-green: #009688;
    --container-white: #EAEAEA;
    --icon-grey: #B1B1B1;
    --light-blue: #8EDAFD;
    --sidebar-margin: .5rem;
}

.top-body {
    background-color: var(--top-green);
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    position: relative;
    background-color: var(--container-white);
    height: calc(100vh - 40px);
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px -5px gray;
}

/********** SIDEBAR ***********/
.sidebar {
    min-width: 350px;
    border-right: 1px solid lightgray;
}

.utente, .contatto-corrente, .bar-digitazione {
    height: 55px;
}

/* AVATAR MITTENTE */
.avatar {
    height: 40px;
    border-radius: 50%;
    margin-left: var(--sidebar-margin)
}

.avatar + span {
    font-size: .8rem;
    padding-left: 5px;
}

.icone-sidebar i {
    color: var(--icon-grey);
    padding: 0 .2rem;
}

/* NOTIFICHE */
.notifiche {
    height: 65px;
    background-color: var(--light-blue);
}

/* .icona-notifiche {
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
} */

.icona-notifiche i {
    color: var(--light-blue);
    background-color: white;
    border-radius: 50%;
    padding: .6rem .5rem;
    margin-left: var(--sidebar-margin);
}

.testo-notifiche {
    font-size: .8rem;
}

/* RICERCA */
.ricerca {
    height: 45px;
    background-color: #FAFAFA;
}

.barra-ricerca {
    height: 30px;
}

.barra-ricerca span, .barra-ricerca input {
    border: 1px solid #eaeaea;
    background-color: white;
}

::placeholder {
    font-size: .8rem;
    vertical-align: middle;
}

.barra-ricerca i {
    color: var(--icon-grey);
}




.contatti {
    border: 1px dashed rosybrown;
    overflow: auto;
}

.chat {
    border: 1px dashed rosybrown;
    overflow: auto;
    background-image: url(img/mine.jpg);
}